
* {
    box-sizing: border-box;
}


header {
    position: relative;
text-align: center;
padding:14px;
background: rgb(48, 46, 46);

}
header img {
    width: 200px;
    height: 70px;
    align-items: center;
    
}
body {
    background-color:floralwhite;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    position: relative;
  }
#F0 a {
margin-right: 60px;
display: inline-block;
text-decoration: none ;
color: honeydew;


}

#F0 {
display: inline-block;
padding: 2px;
text-decoration: non;
margin-left: 50px;

}

#F1 {
    width:960px;
    height: 450px;
    margin-left:150px;
    padding-bottom: 20px;
    margin-top: 20px;
    
    
}
#F2 {
    width: 300px;
    height: 375px;
    margin-left:75px;
    padding-left: 30px;
    
    

}
#F3 {

    width: 300px;
    height: 375px;
    margin-left:75px;
    
}
#F4{

    width: 300px;
    height: 375px;
    margin-left:75px;
    padding-right: 20px;
    margin-right: 50px;
    
}

#F5 {
    padding: 10px;
  
    display: inline-block;
    width: 45%;
    margin: 10px;
clear: both;

}

#F6{

    width:480px;
    height:400px;
    margin-left:100px;
}




button {
    
    background-color:black ;
    color: beige;
    height: 30px;
    width: unset;
}


footer {
    background: rgb(48, 46, 46);
    padding-bottom: 100px;
}
