
* {
    box-sizing: border-box;
}


header {
    position: relative;
text-align: center;
padding:14px;
background: rgb(48, 46, 46);

}
header img {
    width: 200px;
    height: 70px;
    align-items: center;
    
}
body {
    background-color:floralwhite;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    position: relative;
  }
#F0 a {
margin-right: 60px;
display: inline-block;
text-decoration: none ;
color: honeydew;


}

#F0 {
display: inline-block;
padding: 2px;
text-decoration: non;
margin-left: 50px;

}
main div img{
    position: relative;
    top :20px; 
    left:180px;

}
main div img{
    margin-top: 30px;
    margin-right: 26px;
}
main aside{
    margin-left: 180px;
    margin-top: 40px;
}
main article{
    width: 450px;
    height: 300px;
    position: relative;
    float: right;
    right: 130px;
    bottom: 407px;
    
    
}
h2{
    font-size: x-large;
    font-family:serif;
    font-weight: bold;
    font-display:inherit;
}

 main button{
float: right;
width: 150px; 
 height: 50px;
position: relative;
right: 300px;
bottom: 55px;
background-color: black;
color: white;
}






    
  



    
    









footer {
    background: rgb(48, 46, 46);
    padding-bottom: 100px;
}
